spring.datasource.url= jdbc:#databaseType#://localhost:5432/#databaseName#
spring.datasource.username= #databaseUser#
spring.datasource.password= #databasePassword#

spring.jpa.properties.hibernate.jdbc.lob.non_contextual_creation= true
spring.jpa.properties.hibernate.dialect= org.hibernate.dialect.PostgreSQLDialect

spring.jpa.hibernate.ddl-auto= update