{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*",
  "ConnectionStrings": {
    "ApplicationDbContext": "Host=localhost;Port=5432;Database={databaseName};Username={username};Password={password}"
  }
}
