package #ExceptionPackage#;

public class NotAuthorizedException extends Exception {
    
    

    public NotAuthorizedException() {
    }

    public NotAuthorizedException(String msg) {
        super(msg);
    }

}
