




<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
		integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Fiche </title>
    <style>
        body {
            background-color: #161616;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1 ms-5"><i class="fas fa-kiwi-bird me-4"></i>Lazy coding</span>
        </div>
    </nav>
    <div class="container mt-4" data-bs-theme="dark">
        <div class="mx-auto col-md-8 px-3 mb-4">
            <h4 class="text-white">Nouvelle fiche</h4>
            <div class="form">
                <form action="/fiches/save" method="post" enctype="multipart/form-data" th:object="${fiche}" >
                    <input type="hidden" th:field="*{idFiche}" />
					<div class="mb-3">
						<label for="name" class="form-label text-white">Name</label>
						<input id="name" type="text" th:field="*{name}" class="form-control" />
					</div>
					<div class="mb-3">
						<label for="firstname" class="form-label text-white">Firstname</label>
						<input id="firstname" type="text" th:field="*{firstname}" class="form-control" />
					</div>
					<div class="mb-3">
						<label for="address" class="form-label text-white">Address</label>
						<input id="address" type="text" th:field="*{address}" class="form-control" />
					</div>
					<div class="mb-3">
						<label for="mail" class="form-label text-white">Mail</label>
						<input id="mail" type="text" th:field="*{mail}" class="form-control" />
					</div>
					<div class="mb-3">
						<label for="etat" class="form-label text-white">Etat</label>
						<input id="etat" type="number" th:field="*{etat}" class="form-control" />
					</div>
					<div class="mb-3">
						<label for="salaire" class="form-label text-white">Salaire</label>
						<input id="salaire" type="text" th:field="*{salaire}" class="form-control" />
					</div>
					<div class="form-check">
						<input class="form-check-input" type="checkbox" id="admin" th:field="*{admin}"/>
						<label class="form-check-label text-white" for="admin">Admin</label>
					</div>

					<div th:if="${errorMessage != null}" class="mb-3">
						<label class="form-label text-danger" th:text="${errorMessage}"></label>
					</div>

                    <div class="d-flex mt-4">
                        <button class="btn btn-outline-info px-5 me-3" type="submit">Enregistrer</button>
                        <a class="btn btn-outline-light px-5" href="/fiches">Retour</a>
                    </div>
                </form>
            </div>              
        </div>
    </div>
</body>
</html>